*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: silver;
    width: 1440px;
    height: 1024px;
    display: flex;
    margin: 0 auto;
}

.welcome_text {
    position: absolute;
    width: 779px;
    height: 170px;
    left: 36px;
    top: 320px;
    font-family: 'Monda', sans-serif;
    font-size: 125px;
    line-height: 204px;
    color: #34515E;
}

.parent {
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 725px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.child {
    width: 561px;
    height: 608px;
    left: 79px;
    top: 368px; 
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 25px;
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 130px;
    height: 122px;
    left: 36px;
    top: 860px;
    background: #34515E;
}
