*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: silver;
    width: 1440px;
    height: 1024px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.welcome_text {
    position: absolute;
    width: 779px;
    height: 170px;
    left: 36px;
    top: 33px;
    font-family: 'Monda', sans-serif;
    font-size: 125px;
    line-height: 204px;
    color: #34515E;
}

.parent {
    position: absolute;
    display: flex;
    width: 720px;
    height: 1024px;
    left: 725px;
    align-items: center;
    justify-content: center;
    background: black;
}

.child {
    position: absolute;
    width: 517px;
    height: 283px;
    left: 94px;
    top: 150px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 50px;
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 130px;
    height: 122px;
    left: 36px;
    top: 740px;
    background-color: #34515E;
    transition: background-color ease 0.3s;
}

.home:hover {
    background-color: black;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 127px;
    left: 0px;
    top: 897px;
    background-color: #34515E;
}